@font-face {
    font-family: poppins regular;
    src: url(Poppins-Regular.ttf);
}
.top-para{
    font-family: poppins regular;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
}
.topbar-button{

    border: 1px solid black;
    background-color: white;
    padding: 10px 20px;
    color: black;
    
}
.nav-anchor{
    padding: 0px 10px;
    font-family: poppins regular;
}
.nav-button{
    border-radius: 10px;
    padding: 15px 30px;
    border: none;
    font-family: poppins regualr;
    font-size: 16px;
    margin: 0 5px;
}
.nav-button:hover{
    scale: calc(1.17);
}
#icon{
    color:#666666;
    border: 1px solid white;
    background-color:whitesmoke;
    padding: 5px 5px;
    font-size: 2.5rem;
}
.menu-icon{
    display: none;
}
.welcome-heading{
    font-family: poppins regular;
}
.welcome-heading-2{
    font-family: poppins regular;
}
.explorer-button{
    border: 1px solid black;
    background-color: white;
    color:black;
    padding: 10px 30px;
    margin-top: 10px;
}
.donate-coontainer{
    background-color: #f0fcda;
    font-family: poppins regular;
    margin-top: 40px;
}
.general{
    font-size: 0.8vw;
    width: 5vw;
    height: 5.3rem !important;
    text-align: center;
    padding:15px 30px;
    border-radius: 5px 0px 0px 5px;
    color:#ffffff;
    background-color: #1f1f1f;

}
#input-number{
    width: 10vw;
    height: 3.0rem;
    font-size: 1vw;
    padding: 15px 30px;
    border: 1px solid black;
}
.Rs {
    font-size: 0.8vw;
    width: 3vw;
    height: 5.3rem !important;
    text-align: center;
    padding: 15px 30px;
    
    border-radius: 0px 5px 5px 0px;
    color: #ffffff;
    background-color:#1f1f1f ;
}

.donate-child{
    padding-top: 30px;
}
.quick-donate-button{
    padding: 15px 30px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: poppins regular;
    font-weight: bold;


}
.quick-donate-button:hover{
    scale: calc(1.15);
}
.quick-donate-button-green{
    padding: 15px 30px;
    background-color: #8dc63f;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: poppins regular;
    font-weight: bold;
    
}
.quick-donate-button-green:hover{
    scale: calc(1.15);
}

.donate-child{
    gap: 02;
    padding-bottom: 17px;
}
.department{
    background-color: #f0fcda;
    padding: 20px 50px;
    text-align: center;
    font-family: poppins regular;
}
.sponsor-child{
    position: relative;
    width: 100%;
    max-width: 600px;

}
.sponsor-img{
    width: 100%;
    height: auto;
}
.sponsor-button{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    background-color: #8dc63f;
    padding: 15px 32px;
    font-size: 16px;
    font-family: poppins regular;
    border: none;
    border-radius: 5px;
}




@media( max-width: 1200px) {
    .nav-item{
        display: none;
    }
    .menu-icon{
        display: block;
    }
}
@media( max-width:600px) {
    .topbar{
        display: none;
    }
}
@media(max-width: 1280px) {
    .image-1{
        width: 430px;
    }
    .welcome-heading{
        font-size: 36px;
    
    }
    
}
@media(max-width: 1024px) {
    .image-1{
        width: 400px;
    }
    .welcome-heading{
        font-size: 32px;
    }
    .welcome-heading-2{
        font-size: 28px;
    }
}
@media(max-width: 768px) {
    .image-1{
        display:none ;
    }
}
@media(max-width: 640px) {
    .image-1{
        display: none;
    }
}
@media(max-width: 540px) {
    .image-1{
        display: none;
    }
}